@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel .slider-wrapper {
    height: 500px;
  }
  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .thumbs {
      text-align: center;
      }
      
      .swiper-wrapper {
        margin: 10px;
      }

    
      
        
        @media (max-width: 640px) {
          .carousel .slider-wrapper {
              height: 180px;
          }
          .mySwiper .swiper-slide {
            width: auto; 
            height: 180px; 
          }
        
          .swiper-pagination {
            margin-bottom: -8px;
          }
          }