@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel .slider-wrapper {
    height: 500px;
  }
  
  .thumbs {
      text-align: center;
      }
      
      .swiper-wrapper {
        margin: 10px;
      }
  
      /* .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
                display: flex;
          justify-content: center;
          align-items: center;
        } */
  
      
        
        @media (max-width: 640px) {
          .carousel .slider-wrapper {
              height: 180px;
          }
       
          }